In [2]:
harga = 50000
nim_terakhir = 25  
if nim_terakhir % 2 == 0:  
    diskon = 0.10  
else:  
    diskon = 0.05  
total_harga = harga - (harga * diskon)
print(f"Total harga setelah diskon: Rp {total_harga}")

Total harga setelah diskon: Rp 47500.0

In [1]:

nim_terakhir = 25  

nilai = 85
if nim_terakhir > 500:
    syarat_kelulusan = 80
else:
    syarat_kelulusan = 75
if nilai >= syarat_kelulusan:
    print("Siswa LULUS")
else:
    print("Siswa TIDAK LULUS")

Siswa LULUS

In [2]:
nim_terakhir = 25  
total_belanja = 1000000
batas_ongkir = 200000 + nim_terakhir  
if total_belanja > batas_ongkir:
    print("Pelanggan mendapatkan GRATIS ONGKIR")
else:
    print("Pelanggan TIDAK mendapatkan GRATIS ONGKIR")

Pelanggan mendapatkan GRATIS ONGKIR

In [6]:
nim_terakhir = 25 
jam_kerja = 45
gaji_pokok = 500000
if jam_kerja > 40:
    bonus = (0.10 * gaji_pokok) + nim_terakhir 
else:
    bonus = 0  
total_gaji = gaji_pokok + bonus
print(f"Total gaji karyawan: Rp {total_gaji}")

Total gaji karyawan: Rp 550025.0

In [8]:
nim_terakhir = 25  
total_pesanan = 40000
batas_pajak = 50000 - nim_terakhir  
if total_pesanan > batas_pajak:
    pajak = 0.05 * total_pesanan
    total_biaya = total_pesanan + pajak
else:
    total_biaya = total_pesanan
print(f"Total biaya yang harus dibayar: Rp {total_biaya:.2f}")

Total biaya yang harus dibayar: Rp 40000.00

In [10]:
nim_terakhir = 25  
jarak_lari = 25
if jarak_lari > nim_terakhir:
    print("Pelari berhasil memenuhi target latihan!")
else:
    print("Pelari TIDAK berhasil memenuhi target latihan.")

Pelari TIDAK berhasil memenuhi target latihan.

In [13]:
nim_terakhir = 25  
harga_tiket = 50000  
if nim_terakhir % 2 == 0:
    harga_tiket = 0
    print("Anak mendapatkan tiket GRATIS!")
else:
    harga_tiket = harga_tiket * 0.5
    print("Anak mendapatkan diskon 50%.")
print(f"Harga tiket yang harus dibayar: Rp {harga_tiket:.2f}")

Anak mendapatkan diskon 50%.
Harga tiket yang harus dibayar: Rp 25000.00

In [15]:
nim_terakhir = 25  
harga_per_buku = 60000 
jumlah_buku = 15
total_harga = jumlah_buku * harga_per_buku
if jumlah_buku > 5 and nim_terakhir > 300:
    diskon = 0.20 * total_harga
    print("Anda mendapatkan diskon 20%.")
else:
    diskon = 0.10 * total_harga
    print("Anda mendapatkan diskon 10%.")
total_setelah_diskon = total_harga - diskon
print(f"Total harga yang harus dibayar setelah diskon: Rp {total_setelah_diskon:.2f}")

Anda mendapatkan diskon 10%.
Total harga yang harus dibayar setelah diskon: Rp 810000.00

In [17]:
nim_terakhir = 25 
harga_per_buku = 60000 
jumlah_buku = 5
total_harga = jumlah_buku * harga_per_buku
if jumlah_buku > 5 and nim_terakhir > 300:
    diskon = 0.20 * total_harga
    print("Anda mendapatkan diskon 20%.")
else:
    diskon = 0.10 * total_harga
    print("Anda mendapatkan diskon 10%.")
total_setelah_diskon = total_harga - diskon
print(f"Total harga yang harus dibayar setelah diskon: Rp {total_setelah_diskon:.2f}")

Anda mendapatkan diskon 10%.
Total harga yang harus dibayar setelah diskon: Rp 270000.00

In [19]:
nim_terakhir = 25  
tahun = 2025
if nim_terakhir % 2 == 0:
    print("Kabisat")
else:
    print("Bukan Kabisat")

Bukan Kabisat

In [20]:
nim_terakhir = 25  
daftar_belanja = [
    "1. Apel - Rp 10.000",
    "2. Pisang - Rp 15.000",
    "3. Jeruk - Rp 10.000",
    "4. Mangga - Rp 25.000",
    "5. Anggur - Rp 30.000"
]
jumlah_cetak = nim_terakhir % 10 
for i in range(jumlah_cetak):
    print(f"Daftar Belanja ke-{i + 1}:")
    for item in daftar_belanja:
        print(item)
    print()

Daftar Belanja ke-1:
1. Apel - Rp 10.000
2. Pisang - Rp 15.000
3. Jeruk - Rp 10.000
4. Mangga - Rp 25.000
5. Anggur - Rp 30.000

Daftar Belanja ke-2:
1. Apel - Rp 10.000
2. Pisang - Rp 15.000
3. Jeruk - Rp 10.000
4. Mangga - Rp 25.000
5. Anggur - Rp 30.000

Daftar Belanja ke-3:
1. Apel - Rp 10.000
2. Pisang - Rp 15.000
3. Jeruk - Rp 10.000
4. Mangga - Rp 25.000
5. Anggur - Rp 30.000

Daftar Belanja ke-4:
1. Apel - Rp 10.000
2. Pisang - Rp 15.000
3. Jeruk - Rp 10.000
4. Mangga - Rp 25.000
5. Anggur - Rp 30.000

Daftar Belanja ke-5:
1. Apel - Rp 10.000
2. Pisang - Rp 15.000
3. Jeruk - Rp 10.000
4. Mangga - Rp 25.000
5. Anggur - Rp 30.000

In [21]:
nim_terakhir = 25  
kelipatan = nim_terakhir % 5
if kelipatan == 0:
    kelipatan = 5 
for angka in range(1, 101):
    if angka % kelipatan == 0:
        print(angka)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [7]:
nim_terakhir = 25
angka = nim_terakhir % 9
print(f"Tabel Perkalian untuk {angka}")
for i in range(1, 11):
    print(f"{angka} x {i} = {angka * i}")

Tabel Perkalian untuk 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [8]:

nim_terakhir = 25
tinggi = nim_terakhir % 7
for i in range(1, tinggi + 1):
    print('*' * i)

*
**
***
****

In [9]:
nim_terakhir = 25
batas_atas = nim_terakhir
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print(f"Bilangan prima dari 1 sampai {batas_atas}:")
for num in range(1, batas_atas + 1):
    if is_prime(num):
        print(num)

Bilangan prima dari 1 sampai 25:
2
3
5
7
11
13
17
19
23

In [10]:
nim_terakhir = 25 
jumlah_bilangan = nim_terakhir % 10  
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
print(f"Deret Fibonacci sebanyak {jumlah_bilangan} bilangan:")
fibonacci(jumlah_bilangan)

Deret Fibonacci sebanyak 5 bilangan:
0 1 1 2 3

In [11]:
nim_terakhir = 25
kelipatan = nim_terakhir % 6
print(f"Bilangan kelipatan {kelipatan} dari 1 sampai 100:")
for i in range(kelipatan, 101, kelipatan):
    print(i, end=" ")

Bilangan kelipatan 1 dari 1 sampai 100:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [13]:
nim_terakhir = 25  
batas_atas = nim_terakhir 
print(f"Bilangan ganjil dari 1 sampai {batas_atas}:")
for i in range(1, batas_atas + 1, 2): 
    print(i, end=" ")

Bilangan ganjil dari 1 sampai 25:
1 3 5 7 9 11 13 15 17 19 21 23 25

In [2]:
nim_terakhir = 25 
angka = nim_terakhir % 8 


def faktorial(n):
    if n == 0 or n == 1:
        return 1
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result
print(f"Faktorial dari {angka} adalah {faktorial(angka)}")

Faktorial dari 1 adalah 1

In [4]:
nim_terakhir = 25  
jumlah_pengulangan = nim_terakhir % 5  
for _ in range(jumlah_pengulangan):
    print("Terima Kasih")

In [6]:
kata = "Kukira Ramadhan harus banyak ngaji, eh malah disibukin ngoding"
print(f'kata kata hari ini : "{kata}"')

kata kata hari ini : "Kukira Ramadhan harus banyak ngaji, eh malah disibukin ngoding"